#bgImage {
    height: 100vh;
    width: 100vw;
    background: url("../images/bench_tree.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.headbar {
    height: 8em;
    background-color: white;
    /*box-shadow: 0 20px 40px white;*/
    /*box-shadow: 0 20px 40px rgba(0, 0, 0, .3);*/
    opacity: .7;
}
.title {
    font-family: helvetica;
    font-size: 7em;
    position: absolute;
    margin: 0px;
    margin-left: 5vw;
}