body {
    background-color: rgba(0, 0, 0, 0);
}

.header-mod {
    // background-color: rgba(255, 255, 255, .1) !important;
    // background-color: rgba(255, 248, 226, .7) !important;
    color: #FF3311 !important;
}

.main-shell {
    font-family: 'Special Elite';
}