<head>
	<link rel="stylesheet" href="projects/randograph/style.css">
</head>
<h4> {{ project }} </h4>
<div class="container">
	<div id="map" class="col-sm-12" style="height: 350px;"></div>
	<div>
	    <a ng-repeat="picture in album" title=" {{ picture.location.name + '\n' + timeTaken(picture.created_time).day }} " data-toggle="modal" data-target="#imageModal"
	    	ng-click="setImage($index)">
	    	<!-- <div class="col-sm-2 testDiv" style="background-image: url({{ picture.images.thumbnail.url }})"></div> -->
	    	<div>
	        <img src=" {{ picture.images.thumbnail.url }} " class="row no-gutter col-sm-2 img-responsive">
	        </div>
	    </a>
	</div>
</div>

<div id="imageModal" class="modal fade">
	<div class="modal-dialog">
			<div class="modal-body">
				<img src=" {{ currentPhoto.images.standard_resolution.url }} ">
		    </div>
		    <div class="modal-header">
				<h3 class="modal-title"> {{ currentPhoto.location.name }} </h3>
				<br>
				<p class="date"> {{ timeTaken(currentPhoto.created_time).day }} </p>
				<p class="date"> {{ timeTaken(currentPhoto.created_time).clock }} </p>
		    </div>
	</div>
</div>




<!-- Modal -->
<div id="tempModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        <img src=" {{ currentPhoto.images.standard_resolution.url }} ">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>