<h4> {{ project }} </h4>
<!-- <input type="button" value="place" class="btn btn-primary" ng-click="getPlace()">
<input type="button" value="insta" class="btn btn-primary" ng-click="getInsta()">
<input type="button" value="getty" class="btn btn-primary" ng-click="getGetty()">
-->
<div class="container">
	<div class="row">
		<div id="map" style="height: 300px; width: 1050px"></div>
		<div style="float: left;" ng-repeat="picture in album">
			<img src="{{ picture.images.thumbnail.url }}">
		</div>
	</div>
</div>